
input::-webkit-input-placeholder {
    color:transparent;
}
input::-moz-placeholder {
    color:transparent;
}
input:-ms-input-placeholder {
    color:transparent;
}
input::placeholder {
    color:transparent;
}
input:focus::-webkit-input-placeholder {
    color: #ccc;
}
input:focus:-moz-placeholder {
    color: #ccc;
}
input:focus::-moz-placeholder {
    color: #ccc;
}
input:focus:placeholder {
    color:#ccc;
}
input:hover::-webkit-input-placeholder {
    color: #ccc;
}
input:hover:-moz-placeholder {
    color: #ccc;
}
input:hover::-moz-placeholder {
    color: #ccc;
}
input:hover:placeholder {
    color:#ccc;
}
#search-button-1 {
    position: absolute;
    float: right;
    right: 0px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #eb9316;
}
/** Search Fields **/
 .search-field {
    float: right;
    display: block;
    width: 20px;
    padding:0px;
    background-color: #fff;
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
    font-size: 20px;
    border: 1px solid #fff;
    color: rgba(255, 255, 255, 0);
    /* CSS3 Box Sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* CSS3 Rounded Corners */
    border-radius: 2px;
    /* CSS3 Transition (Expanding Effect) */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-backface-visibility: hidden;
  
   
    z-index: 100;
}
/** Search Field 1 Focus (Full Width) **/
 .search-field:focus, .search-field:hover {
    outline: none;
    min-width: 200px;
    max-width: 1000px;
    width: 100%;
    color: #777;
    /* CSS3 Outer Shadow */
    -webkit-box-shadow: 0 0 0 2px #999;
    -moz-box-shadow: 0 0 0 2px #999;
    box-shadow: 0 0 2px #999;
    top: 0px;
    z-index: 100;
    position: absolute;
}
/** Don't want the reset auto-button to show up over the button image **/
 .search-field::-ms-clear {
    width : 0;
    height: 0;
}
/** Make text visible again on focus or hover **/
#search-text:focus, #search-text:hover {
    color: #777;
}
#search-bar {
    margin-right: 10%;
}
.search-btn{
    float: right;  
    width: 100%;
    position: absolute;
    z-index: 100;
}